<p>error-page works!</p>

<ul>
  <li>
    <a routerLink="/auth/login"> Ir a Login</a>
  </li>
  <li>
    <a routerLink="/auth/register"> Ir a registro</a>
  </li>
  <li>
    <a routerLink="/heroes/listado"> Listar heroes</a>
  </li>
  <li>
    <a routerLink="/heroes/agregar"> agregar heroes</a>
  </li>
  <li>
    <a routerLink="/heroes/buscar"> Buscar heroes</a>
  </li>
  <li>
    <a routerLink="/heroes/heroe"> Ver heroe</a>
  </li>
  <li>
    <a routerLink="/heroes/home"> Home heroes</a>
  </li>

</ul>
