<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary">

      <span>Menu</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>store</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item role="navigation">
        <mat-icon matListIcon>list</mat-icon>
        <a routerLink="listado" (click)="sidenav.toggle()">Listado Heroes</a>
      </mat-list-item>
      <mat-list-item role="navigation" (click)="sidenav.toggle()">
        <mat-icon matListIcon>add</mat-icon>
        <a routerLink="agregar">Agregar</a>
      </mat-list-item>
      <mat-list-item role="navigation">
        <mat-icon matListIcon>search </mat-icon>
        <a routerLink="buscar" (click)="sidenav.toggle()">Buscar</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>store</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-button ><mat-icon>logout</mat-icon></button>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
